/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9fb;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 10px;
}

#error-warning {
  background-color: red;
  border-radius: 5px;
  padding: 20px;
  color: white;
  height: 120px;
}

.intro-actions {
  background-color: #fff;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.intro-actions p {
  font-size: 1.1rem;
}

.small-note {
  font-size: 0.95rem;
  color: #888;
}

label {
  display: block;
  font-weight: 600;
}

select {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 8px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  max-width: 100%;
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #34495e;
}

h4 {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #555;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 30px auto 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  height: auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

/* responzivnost na 600px ili manje */
@media (max-width: 600px) {
  .intro-actions {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  select,
  input[type="file"] {
    width: 100%;
  }
}
